<!DOCTYPE html>
<html>
<head>
    <title>Create Admin - TravelMate</title>
</head>

<body>

    <h1>Create Admin</h1>

    <form method="POST">

        <label>Full Name</label>
        <br>
        <input
            type="text"
            name="full_name"
            required
        >

        <br><br>

        <label>Email</label>
        <br>
        <input
            type="email"
            name="email"
            required
        >

        <br><br>

        <label>Password</label>
        <br>
        <input
            type="password"
            name="password"
            required
        >

        <br><br>

        <button type="submit">
            Create Admin
        </button>

    </form>

</body>
</html>